<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itbooks">

    <permission
        android:name="com.itbooks.stage.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.itbooks.stage.permission.C2D_MESSAGE" />

    <uses-permission
        android:name="com.itbooks.permission.C2D_MESSAGE"
        tools:node="remove"/>

    <application>
        <!-- GCM needs receiver and service. -->
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            tools:node="replace">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.itbooks.stage" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
